<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huo.msb.java.hellospringboot.account.mapper.AccountMapper">

    <resultMap id="account" type="Account">
        <id column="id" property="id"/>
        <result column="age" property="age"/>
        <result column="login_name" property="loginName"/>
        <result column="password" property="password"/>
        <result column="location" property="location"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>

    <insert id="save" parameterType="Account">
        insert into account (login_name, age, password, nick_name, location)
        values (#{loginName}, #{age}, #{password}, #{nickName}, #{location})
    </insert>

    <select id="findAll" resultMap="account">
        select id, login_name, age, password, nick_name, location
        from account
    </select>

    <delete id="deleteById" parameterType="Integer">
        delete
        from account
        where id = #{id}
    </delete>

    <select id="findById" parameterType="Integer" resultMap="account">
        select id, login_name, age, password, nick_name, location
        from account
        where id = #{id}
    </select>

    <update id="updateById" parameterType="Account">
        update account
        set login_name = #{loginName},
            age        = #{age},
            password   = #{password},
            nick_name  = #{nickName},
            location   = #{location}
        where id = #{id}
    </update>

    <select id="findByLoginNameAndPassword" parameterType="Account" resultMap="account">
        select id, login_name, age, password, nick_name, location
        from account
        where login_name = #{loginName}
          and password = #{password}
    </select>
</mapper>