<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- 在url上 使用 @标签 可以帮我们 自动加上 contextpath -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/account/index}">主页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">用户管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">用户列表</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right" th:if="${session.account == null}">
                    <li><a th:href="@{/account/register}">注册</a></li>
                    <li><a th:href="@{/account/login}">登录</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${session.account != null}">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">[[${session.account.loginName}]] <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/account/logout}">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    您确定要删除吗?
                </h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" th:onclick="|deleteById(${account})|">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>loginName</th>
            <th>nickName</th>
            <th>location</th>
            <th>操作</th>
        </tr>
        <tr th:each="account:${accountList}">
            <td th:text="${accountStat.count}">序号</td>
            <td th:text="${account.id}">ID</td>
            <td th:text="${account.loginName}">loginName</td>
            <td th:text="${account.nickName}">nickName</td>
            <td th:text="${account.location}">location</td>
            <!-- 删除 动态字符串拼接 调用js -->
            <td>
                <button class="btn-danger" data-toggle="modal" data-target="#myModal">删除</button>
                <a href="#">编辑</a></td>
        </tr>
    </table>
</div>
<script>

    /**
     * 删除 需要给用户一个确认信息  就是一个模态框
     * @param id 删除的id
     */
    function deleteById(id) {
        console.log(id);
        return;
        // 异步删除 然后刷新页面
        var args = {id: id};
        var url = "/api/account/deleteById";
        $.post(url, args, function (resp) {
            if (resp.message === "ok") {
                // 删除成功
                window.location.reload();
            }
        })
    }
</script>
</body>
</html>