<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <!-- 在url上 使用 @标签 可以帮我们 自动加上 contextpath -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="alert alert-danger" role="alert" id="alert" style="display:none;">请仔细查看填写信息</div>
    <form>
        <div class="form-group">
            <label for="loginName">用户名</label>
            <input type="text" name="loginName" class="form-control" id="loginName" placeholder="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="age">年龄</label>
            <input type="text" name="age" class="form-control" id="age" placeholder="age">
        </div>
        <div class="form-group">
            <label for="nickName">昵称</label>
            <input type="text" name="nickName" class="form-control" id="nickName" placeholder="nickName">
        </div>
        <div class="form-group">
            <label for="location">您的位置</label>
            <input type="text" name="location" class="form-control" id="location" placeholder="location">
        </div>
    </form>
    <button class="btn btn-default" id="register">Submit</button>
</div>
<script>


    $("#register").click(function () {
        var loginName = $("#loginName").val();
        var password = $("#password").val();
        var age = $("#age").val();
        var nickName = $("#nickName").val();
        var location = $("#location").val();
        if (password === "" || loginName === "") {
            $("#alert").css("display", "block");
            return;
        }
        var args = {loginName: loginName, password: password, age: age, nickName: nickName, location: location};
        var url = "/api/account/register";
        $.post(
            url,
            args,
            function (resp) {
                if(resp.message === "ok"){
                    window.location.href = "/account/index";
                }
            }
        )
    })
</script>
</body>
</html>